@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,100&family=Roboto+Mono0:wght@100&family=Roboto:wght@300&display=swap');
head title {
    font-family: Lucida;
}

#hovedcms {
    display: grid;
    grid-template-areas:    "header header header"
                            "section section section"
                            "main main main"
                            "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr ;  
    grid-template-rows: 0.3fr 0.5fr 0.4fr;                      
}

header {
    grid-area: header;
}

section {
    grid-area: section;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body{
    margin: 0;
}

header nav ul{
    font-family: 'Noto Sans', sans-serif;
    float: right;
}

header nav h3 {
    float: left;
}

header nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav {
    overflow: auto;
    background-color: antiquewhite;
    padding: 1.5rem;
}

#logo-img {
    width: 7%;
}

section article h3 {
    text-align: center;
}

footer {
    background-color: darkgray;
    margin-top: 120px;
}

#kilder {
    text-align: left;
}
footer ul li{
    text-align: center;
    text-decoration: none;
}
footer li {
    list-style: none;
}

#cmstabel {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr ;
}

#cmstabel div {
    box-shadow: 1px 1px 1px 1px;
}